extend layout

block content
 h1 About us
 p
  | Myself Adil Ansari on the behalf of Team-DLT would be happy to escort you throughout the Infra, benefits and other facilities at DeepLogictech Pvt Ltd.