extends layout

block content
 .jumbotron
    .container
     h1 #{title}
     p
      | This is made from sample template called JAMBOTRON, given at www.bootstap.com website, to callange the knowledge of bootstrap and Its implementation with Nodejs, Jade.
     p
      a.btn.btn-primary.btn-lg(href='/about', role='button') Learn more »
   .container
    // Example row of columns
    .row 
     .col-md-4
      h2 Intro-duction
      p
       | Myself Adil Ansari, a B-Tech graduate, working for DEEPLOGICTECH Pvt Ltd.
      p
       a.btn.btn-secondary(href='/', role='button') View details »
     .col-md-4
      h2 Experiences
      p
       | Working with Deeplogictech pvt ltd, I've realize the importance of time, punctuality and accuracy with your knowledge to produce efficient results.
      p
       a.btn.btn-secondary(href='/', role='button') View details »
     .col-md-4
      h2 Facilities@DLT
      p
       | Stuff is really into freshers. If you ask for help from anyone will give you more then that.
      p
       a.btn.btn-secondary(href='/', role='button') View details »